@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    background-color: rgb(250, 236, 220);   
}

header {
    height: 220px;
    background-image: linear-gradient(to bottom, green, rgb(6, 48, 6)); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.459);
}


h1 {
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 32px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.616);
}

aside {
    padding-top: 40px;
}

aside > p {
    text-align: center;
    color: white;
    font-size: 20px;   
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.575);
}

nav { 
    padding-top: 50px;  
}

nav > a {
    text-decoration: none;
    margin-left: 40px;
    color: white;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-attachment: fixed;
    color: green;
    padding: 8px;
    background-color: rgba(0, 128, 0, 0.199);
    border-radius: 5px;
}

main {
    background-color: white;
    margin:auto;
    width: 1200px;
    padding: 40px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
} 

h2 {
    font-family: 'Bangers', cursive;
    color: green;
    font-size: 40px;
}

main > p {
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
}

section > h3 {
    font-family: 'Bangers', cursive;
    font-size: 26px;
    color: green;
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.432), rgba(0, 128, 0, 0.158));
}

.secundaria > h3 {
    margin-top: 20px;
}

.secundaria > p {
    margin-bottom: 20px;
}

section > p {
    padding-top: 20px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

p > a {
    color: green;
    text-decoration: none;
    background-color: rgba(0, 128, 0, 0.11);
}
p > a:visited {
    color: green;
}

.foto2 {
    margin-left: 160px;
}

.foto3 {
    margin-left: 160px;
}

.foto1 {
    margin-left: 400px;
}

p > strong {
    color:  green;
}

div {
    background-color:rgb(0, 77, 0);
    margin: auto;
    width: 1200px;
    padding: 40px;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
}

.video {
    margin-left: 60px;
    width: 1000px;
    height: 600px;
}

article {
    background-color: white;
    margin:auto;
    width: 1200px;
    padding: 40px; 
    border-radius: 0px 0px 10px 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
}

section.left {
    background-color: rgb(3, 170, 114);
    margin:auto;
    width: 1100px;
    border-radius: 10px;
}
section > h4 {
    background-color: rgb(2, 77, 52);
    padding: 15px 20px 15px 20px;
    margin-top: 0px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size: 20px;
}
  
.left > p {
    text-align: justify;
    padding: 10px;    
}


.right > p {
    <section class="left">
    
}

section.left {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
}
section > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '✓ ';
}

li {
    padding-left: 10px
}
article > p {
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: rgb(1, 59, 1);
    margin-top: 10px;
    padding: 10px;
}
footer > p {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
}
    
@media (max-width: 1000px) {
    header {
        width: 100%;
        
    }
}



